@model QLBH_NQL.Models.DoiMatKhauModel
@{
    ViewBag.Title = "Đổi mật khẩu";
    Layout = "~/Views/Shared/_LayoutThongTin.cshtml";
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<style type="text/css">
    .form-control {
        color: red;
    }
</style>
@using (Html.BeginForm())
{
    <h3>Đổi mật khẩu</h3>
    <div class="class=" tab-content"">

        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true, "Thất bại")
        <div class="row">
            <div class="col-md-6" style="padding-top:20px">
                <div class="form-group">
                    @Html.Label("Mật khẩu cũ:")
                    @Html.PasswordFor(x => x.MatKhauCu, new { @class = "form-control text-danger", rows = "10", @placeholder = "Nhập mật khẩu cũ" })
                    @Html.ValidationMessageFor(x => x.MatKhauCu)
                </div>
                <div class="form-group" style="padding-top:10px">
                    @Html.Label("Mật khẩu mới: ")
                    @Html.PasswordFor(x => x.MatKhauMoi, new { @class = "form-control text-danger", rows = "10", @placeholder = "Nhập mật khẩu mới" })
                    @Html.ValidationMessageFor(x => x.MatKhauMoi)
                </div>
                <div class="form-group" style="padding-top:2px">
                    @Html.LabelFor(x => x.nhaplai, "Nhập lại: ")
                    @Html.PasswordFor(x => x.nhaplai, new { @class = "form-control text-danger", rows = "10", @placeholder = "Nhập lại mật khẩu mới" })
                    @Html.ValidationMessageFor(x => x.nhaplai)
                </div>
                <input id="Button1" type="submit" class="btn bg-danger btn-block" value="Đổi mật khẩu" formaction="DoiMatKhau">
            </div>
            <div class="col-md-6">

            </div>
        </div>
    </div>
}

@section script{
    $("#home").removeClass('active');
    $("#home1").addClass('active');
}

