
@model QLBH_NQL.Models.KHACHHANG
@{
    ViewBag.Title = "Thông Tin Khách Hàng";
    Layout = "~/Views/Shared/_LayoutThongTin.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title> Thông tin khách hàng</title>
    <link rel="shortcut icon" href="~/Image/logo.png">
    <link href="~/Content/CssTabThongTinKhachHang.css" rel="stylesheet" />
    <style type="text/css">
        .form-new {
            padding-left: 0px;
        }
    </style>


</head>
<body>

    @section script{
        $("#home1").removeClass('active');
        $("#home").addClass('active');
    }

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="container">
            <div class="tab-content">

                <div id="home" class="tab-pane fade in active">
                    <h3>Thông tin khách hàng</h3>
                    @Html.ValidationSummary(true, "Lưu thất bại")
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                @Html.LabelFor(x => x.TENDN, "Tên đăng nhập: ")
                                @Html.TextBoxFor(x => x.TENDN, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.TENDN)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(x => x.TENKH, "Họ và tên: ")
                                @Html.TextBoxFor(x => x.TENKH, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.TENKH)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(x => x.NGAYSINH, "Ngày sinh: ")
                                @Html.TextBoxFor(x => x.NGAYSINH, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.NGAYSINH)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(x => x.EMAIL, "Email: ")
                                @Html.TextBoxFor(x => x.EMAIL, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.EMAIL)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(x => x.DIACHI, "Địa chỉ: ")
                                @Html.TextBoxFor(x => x.DIACHI, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.DIACHI)
                            </div>

                            <br />
                            <br />
                            <div>
                                <div>
                                    <div class="col-md-6">
                                        <input id="btnclick" type="submit" class="btn bg-danger btn-block" value="Lưu chỉnh sửa">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    }

</body>



</html>
