

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title - TraQueShop</title>
    @RenderSection("head", required: false)
    @RenderSection("UserAccountPartial", required: false)
    <link href="~/Content/CssClient/CssBanner.css" rel="stylesheet" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link rel="shortcut icon" href="~/Image/logo.png">
    <link href="~/Content/CssClient/CssFooter.css" rel="stylesheet" />
    <link href="~/Content/CssClient/CssLayoutClient.css" rel="stylesheet" />
</head>
<body>
    <header class="head">
        @Html.Action("UserAccountPartial", "UserAccount")
    </header>
    <div class="banner">
        @{Html.RenderAction("BannerPartial", "Banner"); }
    </div>
    <div class="danhmuc">
        @Html.Action("NavBarPartial", "NavBar")
    </div>
    <div class="noidung">
        @RenderBody()
    </div>
    <div class="footer">
        <div class="container-fluid color">
            <div class="row">
                <div class="col-xs-12 col-md-4 col-sm-6 col-lg-4">
                    <div class="customDivfooter">
                        <h3 class="title">Thông tin</h3>
                        <p><a href="GioiThieu.aspx">Giới thiệu</a></p>
                        <p><a href="#">Câu hỏi thường gặp</a></p>
                        <p><a href="#">Cách chăm sóc hoa</a></p>
                        <p><a href="YNghiaHoa.aspx">Ý nghĩa các loài hoa</a></p>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4 col-sm-6 col-lg-4">
                    <div class="customDivfooter">
                        <h3 class="title">Hỗ trợ khách hàng</h3>
                        <p><a href="#">Địa điểm phân phối</a></p>
                        <p><a href="TinTuc.aspx">Tin tức</a></p>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4 col-sm-6 col-lg-4">
                    <div class="customDivfooter">
                        <h3 class="title">Liên hệ với chúng tôi</h3>
                        <p>TP.Thủ Dầu Một, Bình Dương</p>
                        <p>0372325249</p>
                        <p>linhnguyen1998125@gmail.com</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
